.amazon.sprite {
  --imH: 196;
  --imW: 56;
  --spH: 27;
  --spX: 0;
  --spY: 0;
}

.amazon.home {
  background-image: url("/images/players/amazon/home.png");
}

.amazon.away {
  background-image: url("/images/players/amazon/away.png");
}

.amazon.catcher2 {
  --spY: 28;
}

.amazon.lineman1 {
  --spY: 56;
}

.amazon.lineman2 {
  --spY: 84;
}

.amazon.thrower {
  --spY: 112;
}

.amazon.blitzer1 {
  --spY: 140;
}

.amazon.blitzer2 {
  --spY: 168;
}
