:root {
  --bm: 28;
  --bl: 35;
}

.bretonnia.sprite {
  --imH: 210;
  --imW: 70;
  --spH: 28;
}

.bretonnia.knight1, .bretonnia.knight2 {
  --spH: 35;
}

.bretonnia.home {
  background-image: url("/images/players/bretonnia/home.png");
}

.bretonnia.away {
  background-image: url("/images/players/bretonnia/away.png");
}

.bretonnia.peasant2 {
  --spY: var(--bm);
}

.bretonnia.peasant3 {
  --spY: calc(2 * var(--bm));
}

.bretonnia.blocker1 {
  --spY: calc(3 * var(--bm));
}

.bretonnia.blocker2 {
  --spY: calc(4 * var(--bm));
}

.bretonnia.knight1 {
  --spY: calc(5 * var(--bm));
}

.bretonnia.knight2 {
  --spY: calc(5 * var(--bm) + var(--bl));
}
