:root {
  --bm: 28;
  --bl: 35;
}

.bretonnia.sprite {
  --imH: 320;
  --imW: 70;
  --spW: 28;
  --spH: 28;
  --spX: 0;
  --spY: 0;
  --spScale: 75%;
  width: var(--spScale);
  height: var(--spScale);
}

.bretonnia.knight1, .bretonnia.knight2 {
  --spW: 35;
  --spH: 35;
  --spScale: 85%;
}

.bretonnia.home {
  background-image: url("/images/players/bretonnia/home.png");
  background-repeat: no-repeat;
}

.bretonnia.away {
  background-image: url("/images/players/bretonnia/away.png");
  background-repeat: no-repeat;
}

.bretonnia.peasant1 {
  --spY: 0px;
}

.bretonnia.peasant2 {
  --spY: var(--bm);
}

.bretonnia.peasant3 {
  --spY: calc(2 * var(--bm));
}

.bretonnia.blocker1 {
  --spY: calc(3 * var(--bm));
}

.bretonnia.blocker2 {
  --spY: calc(4 * var(--bm));
}

.bretonnia.knight1 {
  --spY: calc(5 * var(--bm));
}

.bretonnia.knight2 {
  --spY: calc(5 * var(--bm) + var(--bl));
}

.bretonnia.moving, .bretonnia.prone, .bretonnia.stunned {
  --spX: var(--spW);
}
