:root {
  --dam: 28;
}

.darkelf.home {
  background-image: url("/images/players/darkelf/home.png");
}

.darkelf.away {
  background-image: url("/images/players/darkelf/away.png");
}

.darkelf.sprite {
  --imH: 140;
  --imW: 56;
  --spH: 28;
}

.darkelf.runner {
  --spY: var(--dam);
}

.darkelf.blitzer {
  --spY: calc(2 * var(--dam));
}

.darkelf.witchelf {
  --spY: calc(3 * var(--dam));
}

.darkelf.assassin {
  --spY: calc(4 * var(--dam));
}

