:root {
  --dam: 28;
}

.darkelf.home {
  background-image: url("/images/players/darkelf/home.png");
  background-repeat: no-repeat;
}

.darkelf.away {
  background-image: url("/images/players/darkelf/away.png");
  background-repeat: no-repeat;
}

.darkelf.sprite {
  --imH: 140;
  --imW: 56;
  --spW: 28;
  --spH: 28;
  --spX: 0;
  --spY: 0;
  --spScale: 75%;
  width: var(--spScale);
  height: var(--spScale);
}

.darkelf.runner {
  --spY: var(--dam);
}

.darkelf.blitzer {
  --spY: calc(2 * var(--dam));
}

.darkelf.witchelf {
  --spY: calc(3 * var(--dam));
}

.darkelf.assassin {
  --spY: calc(4 * var(--dam));
}

.darkelf.moving, .darkelf.prone, .darkelf.stunned {
  --spX: var(--dam);
}
