:root {
  --him: 28;
}

.highelf.home {
  background-image: url("/images/players/highelf/home.png");
}

.highelf.away {
  background-image: url("/images/players/highelf/away.png");
}

.highelf.sprite {
  --imW: 56;
  --imH: 168;
  --spH: 28;
}

.highelf.thrower {
  --spY: var(--him);
}

.highelf.blitzer {
  --spY: calc(2 * var(--him));
}

.highelf.catcher1 {
  --spY: calc(3 * var(--him));
}

.highelf.catcher2 {
  --spY: calc(4 * var(--him));
}

