.human.home {background-image: url("/images/players/human/home.png");}
.human.away {background-image: url("/images/players/human/away.png");}

.human{
  --imH:178;
  --imW:76;
  --spS:28;
  --spScale:75%;
  --offX: 0;
  --offY: 0;
  background-size: calc((var(--imW) / var(--spS)) * 100%) calc((var(--imH) / var(--spS)) * 100%);
  width: var(--spScale);
  height: var(--spScale);
  display: inline-block;
  background-position-x: calc(var(--offX) * (1 + 1 / ((var(--imW) / var(--spS)) - 1)) / var(--imW) * 100%);
  background-position-y: calc(var(--offY) * (1 + 1 / ((var(--imH) / var(--spS)) - 1)) / var(--imH) * 100%);
}
.human.ogre{
  --spS:38;
  --spScale: 100%;
}

.human.lineman1{background-position-y: 0px;}
.human.lineman2{--offY: 29;}
.human.thrower{--offY: 57;}
.human.blitzer{--offY: 85;}
.human.catcher{--offY: 113;}
.human.ogre{--offY: 141;}

.human.moving,.human.prone,.human.stunned{--offX: var(--spS);}
