.khemri.home {
  background-image: url("/images/players/khemri/home.png");
}

.khemri.away {
  background-image: url("/images/players/khemri/away.png");
}

.khemri.sprite {
  --imH: 284;
  --imW: 60;
  --spH: 28;
}

.khemri.mummy1, .khemri.mummy2 {
  --spH: 30;
}

.khemri.lineman2 {
  --spY: 28;
}

.khemri.lineman3 {
  --spY: 56;
}

.khemri.lineman4 {
  --spY: 84;
}

.khemri.thrower1 {
  --spY: 112;
}

.khemri.thrower2 {
  --spY: 140;
}

.khemri.blitzer1 {
  --spY: 168;
}

.khemri.blitzer2 {
  --spY: 196;
}

.khemri.mummy1 {
  --spY: 224;
}

.khemri.mummy2 {
  --spY: 254;
}
