:root {
  --kim: 28;
  --kil: 38;
}

.kislev.sprite {
  --spH: 28;
  --imW: 76;
  --imH: 262;
}

.kislev.bear {
  --spH: 38;
}

.kislev.home {
  background-image: url("/images/players/kislev/home.png");
}

.kislev.away {
  background-image: url("/images/players/kislev/away.png");
}

.kislev.lineman2 {
  --spY: var(--kim);
}

.kislev.lineman3 {
  --spY: calc(2 * var(--kim));
}

.kislev.lineman4 {
  --spY: calc(3 * var(--kim));
}

.kislev.catcher1 {
  --spY: calc(4 * var(--kim));
}

.kislev.catcher2 {
  --spY: calc(5 * var(--kim));
}

.kislev.blitzer1 {
  --spY: calc(6 * var(--kim));
}

.kislev.blitzer2 {
  --spY: calc(7 * var(--kim));
}

.kislev.bear {
  --spY: calc(8 * var(--kim));
}
