:root {
  --nm: 28;
  --nl: 32;
}

.necromantic.home {
  background-image: url("/images/players/necromantic/home.png");
}

.necromantic.away {
  background-image: url("/images/players/necromantic/away.png");
}

.necromantic.sprite {
  --spH: 28;
  --imW: 64;
  --imH: 344;
}

.necromantic.golem1, .necromantic.golem2 {
  --spH: 32;
}

.necromantic.zombie2 {
  --spY: var(--nm);
}

.necromantic.zombie3 {
  --spY: calc(2 * var(--nm));
}

.necromantic.zombie4 {
  --spY: calc(3 * var(--nm));
}

.necromantic.wight1 {
  --spY: calc(4 * var(--nm));
}

.necromantic.wight2 {
  --spY: calc(5 * var(--nm));
}

.necromantic.ghoul1 {
  --spY: calc(6 * var(--nm));
}

.necromantic.ghoul2 {
  --spY: calc(7 * var(--nm));
}

.necromantic.werewolf1 {
  --spY: calc(8 * var(--nm));
}

.necromantic.werewolf2 {
  --spY: calc(9 * var(--nm));
}

.necromantic.golem1 {
  --spY: calc(10 * var(--nm));
}

.necromantic.golem2 {
  --spY: calc(10 * var(--nm) + var(--nl));
}

.necromantic.moving, .necromantic.prone, .necromantic.stunned {
  background-position-x: var(--nm);
}

.necromantic.golem1.moving, .necromantic.golem2.moving, .necromantic.golem1.prone, .necromantic.golem2.prone, .necromantic.golem1.stunned, .necromantic.golem2.stunned {
  background-position-x: var(--nl);
}
