:root {
  --nun: 28;
  --num: 29;
  --nul: 32;
  --nuxl: 38;
}

.nurgle.home {
  background-image: url("/images/players/nurgle/home.png");
}

.nurgle.away {
  background-image: url("/images/players/nurgle/away.png");
}

.nurgle.sprite {
  --spH: 28;
  --imW: 76;
  --imH: 450;
}

.nurgle.pestigor1, .nurgle.pestigor2, .nurgle.pestigor3, .nurgle.pestigor4 {
  --spH: 29;
}

.nurgle.warrior1, .nurgle.warrior2, .nurgle.warrior3, .nurgle.warrior4 {
  --spH: 32;
}

.nurgle.beast-of-nurgle {
  --spH: 38;
}

.nurgle.rotter2 {
  --spY: var(--nun);
}

.nurgle.rotter3 {
  --spY: calc(2 * var(--nun));
}

.nurgle.rotter4 {
  --spY: calc(3 * var(--nun));
}

.nurgle.rotter5 {
  --spY: calc(4 * var(--nun));
}

.nurgle.rotter6 {
  --spY: calc(5 * var(--nun));
}

.nurgle.pestigor1 {
  --spY: calc(6 * var(--nun));
}

.nurgle.pestigor2 {
  --spY: calc(6 * var(--nun) + var(--num));
}

.nurgle.pestigor3 {
  --spY: calc(6 * var(--nun) + 2 * var(--num));
}

.nurgle.pestigor4 {
  --spY: calc(6 * var(--nun) + 3 * var(--num));
}

.nurgle.warrior1 {
  --spY: calc(6 * var(--nun) + 4 * var(--num));
}

.nurgle.warrior2 {
  --spY: calc(6 * var(--nun) + 4 * var(--num) + var(--nul));
}

.nurgle.warrior3 {
  --spY: calc(6 * var(--nun) + 4 * var(--num) + 2 * var(--nul));
}

.nurgle.warrior4 {
  --spY: calc(6 * var(--nun) + 4 * var(--num) + 3 * var(--nul));
}

.nurgle.beast-of-nurgle {
  --spY: calc(6 * var(--nun) + 4 * var(--num) + 4 * var(--nul));
}
