:root {
  --orm: 28;
  --orl: 32;
  --orxl: 38;
}

.orc.home {
  background-image: url("/images/players/orc/home.png");
}

.orc.away {
  background-image: url("/images/players/orc/away.png");
}

.orc.sprite {
  --imW: 76;
  --imH: 446;
  --spH: 28;
}

.orc.blocker1, .orc.blocker2, .orc.blocker3, .orc.blocker4 {
  --spH: 32;
}

.orc.troll {
  --spH: 38;
}

.orc.lineman2 {
  --spY: 28;
}

.orc.lineman3 {
  --spY: 56;
}

.orc.blitzer1 {
  --spY: 84;
}

.orc.blitzer2 {
  --spY: 112;
}

.orc.blitzer3 {
  --spY: 140;
}

.orc.thrower1 {
  --spY: 168;
}

.orc.thrower2 {
  --spY: 196;
}

.orc.goblin1 {
  --spY: 224;
}

.orc.goblin2 {
  --spY: 252;
}

.orc.blocker1 {
  --spY: 280;
}

.orc.blocker2 {
  --spY: 312;
}

.orc.blocker3 {
  --spY: 344;
}

.orc.blocker4 {
  --spY: 376;
}

.orc.troll {
  --spY: 408;
}

.orc.moving {
  --spX: var(--orm);
}
