:root {
  --pm: -28px;
}

.proelf.sprite {
  --spH: 28;
  --imW: 56;
  --imH: 196;
}

.proelf.home {
  background-image: url("/images/players/proelf/home.png");
}

.proelf.away {
  background-image: url("/images/players/proelf/away.png");
}

.proelf.lineman2 {
  --spY: var(--pm);
}

.proelf.catcher1 {
  --spY: calc(2 * var(--pm));
}

.proelf.catcher2 {
  --spY: calc(3 * var(--pm));
}

.proelf.thrower {
  --spY: calc(4 * var(--pm));
}

.proelf.blitzer1 {
  --spY: calc(5 * var(--pm));
}

.proelf.blitzer2 {
  --spY: calc(6 * var(--pm));
}
