:root {
    --spxs: 20;
    --sps: 28;
    --spm: 34;
    --spl: 38;
}

.starplayer.sprite {
  --spX: 0;
  --spY: 0;
  --imW: calc(var(--spW) * 4);
  --imH: var(--spH);
}

.starplayer.home.moving, .starplayer.home.prone, .starplayer.home.stunned {
  --spX: calc(var(--spW));
}

.starplayer.away {
  --spX: calc(var(--spW) * 2);
}

.starplayer.away.moving, .starplayer.away.prone, .starplayer.away.stunned {
  --spX: calc(var(--spW) * 3);
}

.barik-farblast.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/BarikFarblast.png");
}

.bertha-bigfist.sprite {
    --spH: 38;
    background-image: url("/images/players/starplayers/BerthaBigfist.png");
}

.bomber-dribblesnot.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/BomberDribblesnot.png");
}

.boomer-eziasson.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/BoomerEziasson.png");
}

.brick-farth.sprite {
    --spH: 38;
    background-image: url("/images/players/starplayers/BrickFarth.png");
}

.count-luthorvon-drakenborg.sprite {
    --spH: 34;
    background-image: url("/images/players/starplayers/CountLuthor.png");
}

.crazy-igor.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/CrazyIgor.png");
}

.deeproot-strongbranch.sprite {
    --spH: 40;
    background-image: url("/images/players/starplayers/Deeproot.png");
}

.dolfar-longstride.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/DolfarLongstride.png");
}

.eldril-sidewinder.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/EldrilSidewinder.png");
}

.fezglitch.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Fezglitch.png");
}

.flint-churnblade.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/FlintChurnblade.png");
}

.fungus-the-loon.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Fungus.png");
}

.glart-smashrip-jr.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/GlartSmashrip.png");
}

.grashnak-blackhoof.sprite {
    --spH: 38;
    background-image: url("/images/players/starplayers/GrashnakBlackhoof.png");
}

.griff-oberwald.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/GriffOberwald.png");
}

.grim-ironjaw.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/GrimIronjaw.png");
}

.grotty.sprite {
    --spH: 20;
    background-image: url("/images/players/starplayers/Grotty.png");
}

.hack-enslash.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/HackEnslash.png");
}

.hakflem-skuttlespike.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/HakflemSkuttlespike.png");
}

.headsplitter.sprite {
    --spH: 38;
    background-image: url("/images/players/starplayers/Headsplitter.png");
}

.helmut-wulf.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/HelmutWulf.png");
}

.hemlock.sprite {
    --spH: 20;
    background-image: url("/images/players/starplayers/Hemlock.png");
}

.horkon-heartripper.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Horkon.png");
}

.hthark-the-unstoppable.sprite {
    --spH: 40;
    background-image: url("/images/players/starplayers/Hthark.png");
}

.hubris-rakarth.sprite {
    --spH: 32;
    background-image: url("/images/players/starplayers/Hubris.png");
}

.humerus-carpal.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Humerus.png");
}

.icepelt-hammerblow.sprite {
    --spH: 38;
    background-image: url("/images/players/starplayers/Icepelt.png");
}

.ithaca-benoin.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Ithaca.png");
}

.j-earlice.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Earlice.png");
}

.jordel-freshbreeze.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Jordell.png");
}

.lewdgrip-whiparm.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Lewdgrip.png");
}

.lord-borak-the-despoiler.sprite {
    --spH: 30;
    background-image: url("/images/players/starplayers/LordBorak.png");
}

.lottabottol.sprite {
    --spH: 30;
    background-image: url("/images/players/starplayers/Lottabottol.png");
}

.max-spleenripper.sprite {
    --spH: 34;
    background-image: url("/images/players/starplayers/MaxSpleenripper.png");
}

.mighty-zug.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/MightyZug.png");
}

.morg-n-thorg.sprite {
    --spH: 38;
    background-image: url("/images/players/starplayers/Morgh.png");
}

.nobbla-blackwart.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Nobbla.png");
}

.prince-moranion.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Moranion.png");
}

.puggy-baconbreath.sprite {
    --spH: 21;
    background-image: url("/images/players/starplayers/Puggy.png");
}

.quetzal-leap.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Quetzal.png");
}

.ramtut-iii.sprite {
    --spH: 31;
    background-image: url("/images/players/starplayers/Ramtut.png");
}

.rashnak-backstabber.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Rashnak.png");
}

.ripper.sprite {
    --spH: 38;
    background-image: url("/images/players/starplayers/Ripper.png");
}

.roxanna-darknail.sprite {
    --spH: 32;
    background-image: url("/images/players/starplayers/Roxanna.png");
}

.scrappa-sorehead.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Scrappa.png");
}

.setekh.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Setekh.png");
}

.sinnedbad.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Sinnedbad.png");
}

.skitter-stab-stab.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Skitter.png");
}

.slibli.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Slibli.png");
}

.soaren-hightower.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Soaren.png");
}

.ugroth-bolgrot.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Ugroth.png");
}

.varag-ghoul-chewer.sprite {
    --spH: 29;
    background-image: url("/images/players/starplayers/Varag.png");
}

.wilhelm-chaney.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Wilhelm.png");
}

.willow-rosebark.sprite {
    --spH: 30;
    background-image: url("/images/players/starplayers/Willow.png");
}

.zara-the-slayer.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Zara.png");
}

.zzharg-madeye.sprite {
    --spH: 28;
    background-image: url("/images/players/starplayers/Zzharg.png");
}
