:root {
  --cdm: 28;
  --cdl: 38;
  --cdxl: 39;
}

.chaosdwarf.home {
  background-image: url("/images/players/chaosdwarf/home.png");
}

.chaosdwarf.away {
  background-image: url("/images/players/chaosdwarf/away.png");
}

.chaosdwarf.sprite {
  --spH: 28;
  --imW: 78;
  --imH: 339;
}

.chaosdwarf.bullcentaur1, .chaosdwarf.bullcentaur2 {
  --spH: 38;
}

.chaosdwarf.minotaur {
  --spH: 39;
}

.chaosdwarf.hobgoblin2 {
  --spY: var(--cdm);
}

.chaosdwarf.hobgoblin3 {
  --spY: calc(2 * var(--cdm));
}

.chaosdwarf.hobgoblin4 {
  --spY: calc(3 * var(--cdm));
}

.chaosdwarf.blocker1 {
  --spY: calc(4 * var(--cdm));
}

.chaosdwarf.blocker2 {
  --spY: calc(5 * var(--cdm));
}

.chaosdwarf.blocker3 {
  --spY: calc(6 * var(--cdm));
}

.chaosdwarf.blocker4 {
  --spY: calc(7 * var(--cdm));
}

.chaosdwarf.bullcentaur1 {
  --spY: calc(8 * var(--cdm));
}

.chaosdwarf.bullcentaur2 {
  --spY: calc(8 * var(--cdm) + var(--cdl));
}

.chaosdwarf.minotaur {
  --spY: calc(8 * var(--cdm) + 2 * var(--cdl));
}
