:root {
  --cm: 28;
  --cl: 32;
  --cxl: 39;
}

.chaos.home {
  background-image: url("/images/players/chaos/home.png");
}

.chaos.away {
  background-image: url("/images/players/chaos/away.png");
}

.chaos.sprite {
  --spH: 28;
  --imW: 78;
  --imH: 421;
}

.chaos.warrior1, .chaos.warrior2, .chaos.warrior3, .chaos.warrior4, .chaos.warrior5, .chaos.warrior6 {
  --spH: 32;
}

.chaos.minotaur1, .chaos.minotaur2, .chaos.minotaur3 {
  --spH: 39;
}

.chaos.beastman2 {
  --spY: var(--cm);
}

.chaos.beastman3 {
  --spY: calc(2 * var(--cm));
}

.chaos.beastman4 {
  --spY: calc(3 * var(--cm));
}

.chaos.warrior1 {
  --spY: calc(4 * var(--cm));
}

.chaos.warrior2 {
  --spY: calc(4 * var(--cm) + var(--cl));
}

.chaos.warrior3 {
  --spY: calc(4 * var(--cm) + 2 * var(--cl));
}

.chaos.warrior4 {
  --spY: calc(4 * var(--cm) + 3 * var(--cl));
}

.chaos.warrior5 {
  --spY: calc(4 * var(--cm) + 4 * var(--cl));
}

.chaos.warrior6 {
  --spY: calc(4 * var(--cm) + 5 * var(--cl));
}

.chaos.minotaur1 {
  --spY: calc(4 * var(--cm) + 6 * var(--cl));
}

.chaos.minotaur2 {
  --spY: calc(4 * var(--cm) + 6 * var(--cl) + var(--cxl));
}

.chaos.minotaur3 {
  --spY: calc(4 * var(--cm) + 6 * var(--cl) + 2 * var(--cxl));
}
