:root {
    --dwm: 28;
    --dwl: 38;
}

.dwarf.home {
    background-image: url("/images/players/dwarf/home.png");
}

.dwarf.away {
    background-image: url("/images/players/dwarf/away.png");
}

.dwarf.sprite {
  --imH: 318;
  --imW: 76;
  --spH: 28;
}

.dwarf.deathroller {
  --spH: 38;
}

.dwarf.longbeard2 {
    --spY: var(--dwm);
}

.dwarf.longbeard3 {
    --spY: calc(2 * var(--dwm));
}

.dwarf.blitzer1 {
    --spY: calc(3 * var(--dwm));
}

.dwarf.blitzer2 {
    --spY: calc(4 * var(--dwm));
}

.dwarf.runner1 {
    --spY: calc(5 * var(--dwm));
}

.dwarf.runner2 {
    --spY: calc(6 * var(--dwm));
}

.dwarf.runner3 {
    --spY: calc(7 * var(--dwm));
}

.dwarf.trollslayer1 {
    --spY: calc(8 * var(--dwm));
}

.dwarf.trollslayer2 {
    --spY: calc(9 * var(--dwm));
}

.dwarf.deathroller {
    --spY: calc(10 * var(--dwm));
}


