:root {
  --gs: 30;
  --gm: 32;
  --gxl: 38;
}

.goblin.home {
  background-image: url("/images/players/goblin/home.png");
}

.goblin.away {
  background-image: url("/images/players/goblin/away.png");
}

.goblin.sprite {
  --imH: 584;
  --imW: 78;
  --spH: 30;
}

.goblin.pogo1, .goblin.pogo2, .goblin.looney1, .goblin.looney2, .goblin.fanatic1, .goblin.fanatic2, .goblin.bomber1, .goblin.bomber2 {
  --spH: 32;
}

.goblin.troll1, .goblin.troll2, .goblin.troll3 {
  --spH: 38;
}

.goblin.goblin2 {
  --spY: var(--gs);
}

.goblin.goblin3 {
  --spY: calc(2 * var(--gs));
}

.goblin.goblin4 {
  --spY: calc(3 * var(--gs));
}

.goblin.goblin5 {
  --spY: calc(4 * var(--gs));
}

.goblin.goblin6 {
  --spY: calc(5 * var(--gs));
}

.goblin.goblin7 {
  --spY: calc(6 * var(--gs));
}

.goblin.pogo1 {
  --spY: calc(7 * var(--gs));
}

.goblin.pogo2 {
  --spY: calc(7 * var(--gs) + var(--gm));
}

.goblin.looney1 {
  --spY: calc(7 * var(--gs) + 2 * var(--gm));
}

.goblin.looney2 {
  --spY: calc(7 * var(--gs) + 3 * var(--gm));
}

.goblin.fanatic1 {
  --spY: calc(7 * var(--gs) + 4 * var(--gm));
}

.goblin.fanatic2 {
  --spY: calc(7 * var(--gs) + 5 * var(--gm));
}

.goblin.bomber1 {
  --spY: calc(7 * var(--gs) + 6 * var(--gm));
}

.goblin.bomber2 {
  --spY: calc(7 * var(--gs) + 7 * var(--gm));
}

.goblin.troll1 {
  --spY: calc(7 * var(--gs) + 8 * var(--gm));
}

.goblin.troll2 {
  --spY: calc(7 * var(--gs) + 8 * var(--gm) + var(--gxl));
}

.goblin.troll3 {
  --spY: calc(7 * var(--gs) + 8 * var(--gm) + 2 * var(--gxl));
}
