:root {
  --has: 20;
  --hal: 40;
}

.halfling.home {
  background-image: url("/images/players/halfling/home.png");
}

.halfling.away {
  background-image: url("/images/players/halfling/away.png");
}

.halfling.sprite {
  --spH: 20;
  --imH: 220;
  --imW: 80;
}

.halfling.treeman1, .halfling.treeman2, .halfling.treeman3 {
  --spH: 40;
}

.halfling.halfling1 {
  --spY: 0px;
}

.halfling.halfling2 {
  --spY: var(--has);
}

.halfling.halfling3 {
  --spY: calc(2 * var(--has));
}

.halfling.halfling4 {
  --spY: calc(3 * var(--has));
}

.halfling.halfling5 {
  --spY: calc(4 * var(--has));
}

.halfling.treeman1 {
  --spY: calc(5 * var(--has));
}

.halfling.treeman2 {
  --spY: calc(5 * var(--has) + var(--hal));
}

.halfling.treeman3 {
  --spY: calc(5 * var(--has) + 2 * var(--hal));
}
