:root{--him:-28px;}

.highelf.home {background: url("/images/players/highelf/home.png") no-repeat;}
.highelf.away {background: url("/images/players/highelf/away.png") no-repeat;}

.highelf{width: calc(-1 * var(--him)); height: calc(-1 * var(--him)); display: inline-block; background-position-x: 0px;}

.highelf.lineman1{background-position-y: 0px;}
.highelf.lineman2{background-position-y: 0px;}
.highelf.thrower{background-position-y: var(--him);}
.highelf.blitzer{background-position-y: calc(2 * var(--him));}
.highelf.catcher1{background-position-y: calc(3 * var(--him));}
.highelf.catcher2{background-position-y: calc(4 * var(--him));}

.highelf.moving,.highelf.prone,.highelf.stunned{background-position-x: var(--him);}