:root {
  --ls: 20;
  --ll: 28;
  --lxl: 40;
}

.lizardman.home {
  background-image: url("/images/players/lizardman/home.png");
  background-repeat: no-repeat;
}

.lizardman.away {
  background-image: url("/images/players/lizardman/away.png");
  background-repeat: no-repeat;
}

.lizardman.sprite {
  --imW: 78;
  --imH: 269;
  --spX: 0;
  --spY: 0;
  width: var(--spScale);
  height: var(--spScale);
}

.lizardman.skink1, .lizardman.skink2, .lizardman.skink3, .lizardman.skink4 {
  --spW: 20;
  --spH: 20;
  --spScale: 60%;
}

.lizardman.saurus1, .lizardman.saurus2, .lizardman.saurus3, .lizardman.saurus4 {
  --spW: 28;
  --spH: 28;
  --spScale: 90%;
}

.lizardman.kroxigor1, .lizardman.kroxigor2 {
  --spW: 40;
  --spH: 40;
  --spScale: 100%;
}

.lizardman.skink2 {
  --spY: 20;
}

.lizardman.skink3 {
  --spY: 40;
}

.lizardman.skink4 {
  --spY: 60;
}

.lizardman.saurus1 {
  --spY: 80;
}

.lizardman.saurus2 {
  --spY: 108;
}

.lizardman.saurus3 {
  --spY: 136;
}

.lizardman.saurus4 {
  --spY: 164;
}

.lizardman.kroxigor1 {
  --spY: 192;
}

.lizardman.kroxigor2 {
  --spY: 231;
}

.lizardman.moving, .lizardman.prone, .lizardman.prone{
  --spX: var(--spW);
}
