:root {
  --ls: 20;
  --ll: 28;
  --lxl: 40;
}

.lizardman.home {
  background-image: url("/images/players/lizardman/home.png");
}

.lizardman.away {
  background-image: url("/images/players/lizardman/away.png");
}

.lizardman.sprite {
  --imW: 78;
  --imH: 269;
}

.lizardman.skink1, .lizardman.skink2, .lizardman.skink3, .lizardman.skink4 {
  --spH: 20;
}

.lizardman.saurus1, .lizardman.saurus2, .lizardman.saurus3, .lizardman.saurus4 {
  --spH: 28;
}

.lizardman.kroxigor1, .lizardman.kroxigor2 {
  --spH: 40;
}

.lizardman.skink2 {
  --spY: 20;
}

.lizardman.skink3 {
  --spY: 40;
}

.lizardman.skink4 {
  --spY: 60;
}

.lizardman.saurus1 {
  --spY: 80;
}

.lizardman.saurus2 {
  --spY: 108;
}

.lizardman.saurus3 {
  --spY: 136;
}

.lizardman.saurus4 {
  --spY: 164;
}

.lizardman.kroxigor1 {
  --spY: 192;
}

.lizardman.kroxigor2 {
  --spY: 231;
}
