:root {
  --nom: 28;
  --nol: 32;
  --noxl: 38;
}

.norse.home {
  background-image: url("/images/players/norse/home.png");
  background-repeat: no-repeat;
}

.norse.away {
  background-image: url("/images/players/norse/away.png");
  background-repeat: no-repeat;
}

.norse.sprite {
  --imW: 76;
  --imH: 326;
  --spX: 0;
  --spY: 0;
  --spW: 28;
  --spH: 28;
  --spScale: 75%;
  width: var(--spScale);
  height: var(--spScale);
}

.norse.ulfwerener1, .norse.ulfwerener1 {
  --spScale: 85%;
}

.norse.yhetee {
  --spScale: 95%;
}

.norse.lineman2 {
  --spY: var(--nom);
}

.norse.lineman3 {
  --spY: calc(2 * var(--nom));
}

.norse.lineman4 {
  --spY: calc(3 * var(--nom));
}

.norse.runner {
  --spY: calc(4 * var(--nom));
}

.norse.berserker1 {
  --spY: calc(5 * var(--nom));
}

.norse.berserker2 {
  --spY: calc(6 * var(--nom));
}

.norse.thrower {
  --spY: calc(7 * var(--nom));
}

.norse.ulfwerener1 {
  --spY: calc(8 * var(--nom));
}

.norse.ulfwerener2 {
  --spY: calc(8 * var(--nom) + var(--nol));
}

.norse.yhetee {
  --spY: calc(8 * var(--nom) + 2 * var(--nol));
}

.norse.moving, .norse.prone, .norse.stunned {
  --spX: var(--spW);
}
