:root {
  --ogm: 20;
  --ogl: 38;
}

.ogre.home {
  background-image: url("/images/players/ogre/home.png");
}

.ogre.away {
  background-image: url("/images/players/ogre/away.png");
}

.ogre.sprite {
  --spH: 20;
  --imW: 76;
  --imH: 368;
}

.ogre.ogre1, .ogre.ogre2, .ogre.ogre3, .ogre.ogre4, .ogre.ogre5, .ogre.ogre6 {
  --spH: 38;
}

.ogre.snotling2 {
  --spY: var(--ogm);
}

.ogre.snotling3 {
  --spY: calc(2 * var(--ogm));
}

.ogre.snotling4 {
  --spY: calc(3 * var(--ogm));
}

.ogre.snotling5 {
  --spY: calc(4 * var(--ogm));
}

.ogre.snotling6 {
  --spY: calc(5 * var(--ogm));
}

.ogre.snotling7 {
  --spY: calc(6 * var(--ogm));
}

.ogre.ogre1 {
  --spY: calc(7 * var(--ogm));
}

.ogre.ogre2 {
  --spY: calc(7 * var(--ogm) + var(--ogl));
}

.ogre.ogre3 {
  --spY: calc(7 * var(--ogm) + 2 * var(--ogl));
}

.ogre.ogre4 {
  --spY: calc(7 * var(--ogm) + 3 * var(--ogl));
}

.ogre.ogre5 {
  --spY: calc(7 * var(--ogm) + 4 * var(--ogl));
}

.ogre.ogre6 {
  --spY: calc(7 * var(--ogm) + 5 * var(--ogl));
}
