:root {
  --sm: 28;
  --sl: 38;
}

.skaven.sprite {
  --spH: 28;
  --imW: 76;
  --imH: 262;
}

.skaven.ratogre {
  --spH: 38;
}

.skaven.home {
  background-image: url("/images/players/skaven/home.png");
}

.skaven.away {
  background-image: url("/images/players/skaven/away.png");
}

.skaven.lineman2 {
  --spY: var(--sm);
}

.skaven.lineman3 {
  --spY: calc(2 * var(--sm));
}

.skaven.blitzer1 {
  --spY: calc(3 * var(--sm));
}

.skaven.blitzer2 {
  --spY: calc(4 * var(--sm));
}

.skaven.thrower {
  --spY: calc(5 * var(--sm));
}

.skaven.runner1 {
  --spY: calc(6 * var(--sm));
}

.skaven.runner2 {
  --spY: calc(7 * var(--sm));
}

.skaven.ratogre {
  --spY: calc(8 * var(--sm));
}
