:root {
  --team1-gray-0: #f9f9fa;
  --team1-gray-1: #ededf1;
  --team1-gray-2: #e0e0e7;
  --team1-gray-3: #d2d2dc;
  --team1-gray-4: #c3c3d0;
  --team1-gray-5: #b2b2c2;
  --team1-gray-6: #9e9eb3;
  --team1-gray-7: #8787a1;
  --team1-gray-8: #6a6a87;
  --team1-gray-9: #3e3e4f;
  --team1-color-0: #f9f9ff;
  --team1-color-1: #ececff;
  --team1-color-2: #dedeff;
  --team1-color-3: #cfcfff;
  --team1-color-4: #bebeff;
  --team1-color-5: #ababff;
  --team1-color-6: #9595ff;
  --team1-color-7: #7979ff;
  --team1-color-8: #5252ff;
  --team1-color-9: #0000d9;
  --team0-gray-0: #faf9f9;
  --team0-gray-1: #f1eded;
  --team0-gray-2: #e6dfdf;
  --team0-gray-3: #dbd1d1;
  --team0-gray-4: #cec1c1;
  --team0-gray-5: #c0afaf;
  --team0-gray-6: #b09b9b;
  --team0-gray-7: #9e8383;
  --team0-gray-8: #816565;
  --team0-gray-9: #4c3b3b;
  --team0-color-0: #fff8f8;
  --team0-color-1: #ffe8e8;
  --team0-color-2: #ffd7d7;
  --team0-color-3: #ffc5c5;
  --team0-color-4: #ffafaf;
  --team0-color-5: #ff9595;
  --team0-color-6: #ff7474;
  --team0-color-7: #ff3e3e;
  --team0-color-8: #db0000;
  --team0-color-9: #850000;
  --gray-0: #f9f9f9;
  --gray-1: #ededed;
  --gray-2: #e1e1e1;
  --gray-3: #d3d3d3;
  --gray-4: #c4c4c4;
  --gray-5: #b3b3b3;
  --gray-6: #a0a0a0;
  --gray-7: #898989;
  --gray-8: #6c6c6c;
  --gray-9: #3f3f3f;
}
