:root {
  --unm: 28;
  --unl: 38;
}

.underworld.sprite {
  --imW: 76;
  --imH: 410;
  --spH: 28;
}

.underworld.troll {
  --spH: 38;
}

.underworld.home {
  background-image: url("/images/players/underworld/home.png");
}

.underworld.away {
  background-image: url("/images/players/underworld/away.png");
}

.underworld.goblin2 {
  --spY: var(--unm);
}

.underworld.goblin3 {
  --spY: calc(2 * var(--unm));
}

.underworld.goblin4 {
  --spY: calc(3 * var(--unm));
}

.underworld.goblin5 {
  --spY: calc(4 * var(--unm));
}

.underworld.lineman1 {
  --spY: calc(5 * var(--unm));
}

.underworld.lineman2 {
  --spY: calc(6 * var(--unm));
}

.underworld.lineman3 {
  --spY: calc(7 * var(--unm));
}

.underworld.lineman4 {
  --spY: calc(8 * var(--unm));
}

.underworld.blitzer1 {
  --spY: 253;
}

.underworld.blitzer2 {
  --spY: calc(10 * var(--unm));
}

.underworld.thrower1 {
  --spY: 308;
}

.underworld.thrower2 {
  --spY: calc(12 * var(--unm));
}

.underworld.troll {
  --spY: calc(13 * var(--unm));
}
