.undead.sprite {
  --imW: 60;
  --imH: 368;
  --spH: 28;
}

.undead.mummy1, .undead.mummy2 {
  --spH: 30;
}

.undead.home {
  background-image: url("/images/players/undead/home.png");
}

.undead.away {
  background-image: url("/images/players/undead/away.png");
}

.undead.zombie2 {
  --spY: 28;
}

.undead.zombie3 {
  --spY: calc(2 * 28);
}

.undead.zombie4 {
  --spY: calc(3 * 28);
}

.undead.skeleton1 {
  --spY: calc(4 * 28);
}

.undead.skeleton2 {
  --spY: calc(5 * 28);
}

.undead.skeleton3 {
  --spY: calc(6 * 28);
}

.undead.wight1 {
  --spY: calc(7 * 28);
}

.undead.wight2 {
  --spY: calc(8 * 28);
}

.undead.ghoul1 {
  --spY: calc(9 * 28);
}

.undead.ghoul2 {
  --spY: calc(10 * 28);
}

.undead.mummy1 {
  --spY: calc(11 * 28);
}

.undead.mummy2 {
  --spY: calc(11 * 28 + 30);
}
