:root {
  --vm: 28;
  --vl: 30;
}

.vampire.sprite {
  --spH: 28;
  --imW: 60;
  --imH: 173;
}

.vampire.vampire1, .vampire.vampire2, .vampire.vampire3 {
  --spH: 30;
}

.vampire.home {
  background-image: url("/images/players/vampire/home.png");
}

.vampire.away {
  background-image: url("/images/players/vampire/away.png");
}

.vampire.thrall2 {
  --spY: var(--vm);
}

.vampire.thrall3 {
  --spY: calc(2 * var(--vm));
}

.vampire.vampire1 {
  --spY: calc(3 * var(--vm));
}

.vampire.vampire2 {
  --spY: calc(3 * var(--vm) + var(--vl));
}

.vampire.vampire3 {
  --spY: calc(3 * var(--vm) + 2 * var(--vl));
}
