:root {
  --wm: 28;
  --wl: 40;
}

.woodelf.sprite {
  --imW: 80;
  --imH: 416;
  --spW: 28;
  --spH: 28;
  --spX: 0;
  --spY: 0;
  --spScale: 75%;
  width: var(--spScale);
  height: var(--spScale);
}

.woodelf.tree {
  --spScale: 100%;
  --spW: 40;
  --spH: 40;
}

.woodelf.home {
  background-image: url("/images/players/woodelf/home.png");
  background-repeat: no-repeat;
}

.woodelf.away {
  background-image: url("/images/players/woodelf/away.png");
  background-repeat: no-repeat;
  --imW: 80;
  --imH: 376;
}

.woodelf.lineman2 {
  --spY: var(--wm);
}

.woodelf.lineman3 {
  --spY: calc(2 * var(--wm));
}

.woodelf.lineman4 {
  --spY: calc(3 * var(--wm));
}

.woodelf.catcher1 {
  --spY: calc(4 * var(--wm));
}

.woodelf.catcher2 {
  --spY: calc(5 * var(--wm));
}

.woodelf.catcher3 {
  --spY: calc(6 * var(--wm));
}

.woodelf.catcher4 {
  --spY: calc(7 * var(--wm));
}

.woodelf.thrower1 {
  --spY: calc(8 * var(--wm));
}

.woodelf.thrower2 {
  --spY: calc(9 * var(--wm));
}

.woodelf.wardancer1 {
  --spY: calc(10 * var(--wm));
}

.woodelf.wardancer2 {
  --spY: calc(11 * var(--wm));
}

.woodelf.tree {
  --spY: calc(12 * var(--wm));
}

.woodelf.moving, .woodelf.prone, .woodelf.stunned {
  --spX: var(--wm);
}

.woodelf.tree.moving, .woodelf.tree.prone, .woodelf.tree.stunned {
  --spX: var(--wl);
}
